:host {
    display: block;
  }
  
  .container-fluid {
    background-color: #f8f9fa;
    padding: 40px 20px;
  }
  
  .card {
    height: 100%;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: filter 0.3s;
  }
  
  .card:hover .card-img-top {
    filter: brightness(80%);
  }
  
  .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .text-center {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  .color{
    background-color: #FFF0F5;
  }
  .text-muted {
    color: #6c757d !important;
  }
  
  